<html lang="en">
  {% include 'head.html' %}
  <body class="bg-light">
    <h1 class="text-center mt-3">Welcome to the GUDLFT Registration Portal!</h1>
    <p class="text-center m-3 fw-bold">
      Please enter your secretary email to continue:
    </p>
    <form
      class="d-flex flex-column justify-content-center border w-50 m-auto"
      action="show-summary"
      method="post"
    >
      <label for="email">Email:</label>
      <input type="email" name="email" id="" />
      <button class="btn btn-primary w-25 m-auto mt-2 mb-2" type="submit">
        Enter
      </button>
      <a
        class="btn btn-info w-25 m-auto mt-2 mb-2"
        href="{{ url_for('view_club_points') }}"
        >Lists of clubs</a
      >
    </form>
    <p class="text-center text-danger m-3 fw-bold red">{{ error_message }}</p>
  </body>
</html>
