<html lang="en">
  {% include 'head.html'%}
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="d-flex justify-content-center">
        <h2 class="navbar-brand m-3">Welcome, {{club['email']}}</h2>
        <a
          class="btn btn-danger btn-sm h-25 m-auto"
          href="{{url_for('logout')}}"
          >Logout</a
        >
      </div>
    </nav>
    {% with messages = get_flashed_messages()%} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif%} {%endwith%}
    <p class="fw-bold m-3">Points available: {{club['points']}}</p>
    <h3 class="text-center mb-3">New Competitions:</h3>
    <table class="table table-striped table-light w-50 m-auto">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Number of places</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for comp in competitions%}
        <tr>
          <td>{{comp['name']}}</td>
          <td>Date: {{comp['date']}}</td>
          <td>Number of Places: {{comp['numberOfPlaces']}}</td>
          <td>
            {% if comp['numberOfPlaces']|int > 0 %}
            <a
              class="btn btn-primary h-25 btn-sm"
              href="{{ url_for('book',competition=comp['name'],club=club['name']) }}"
              >Book Places</a
            >
            {% else %}
            <p class="fw-bold m-3">Booking is full</p>
            {%endif%}
          </td>
        </tr>
        <hr />
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center mt-5 mb-3">Old Competitions</h3>
    <table class="table table-striped table-light w-50 m-auto">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for comp in old_competitions %}
            <tr>
                <td>{{ comp["name"]}}</td>
                <td>{{ comp["date"]}}</td>
                <td>Booking closed</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>
